body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #333;
  min-height:100%
}

ul {
  margin:0; padding: 0;
}

a {
  -webkit-transition: color .4s ease;
  text-decoration: underline;
  color: rgb(175, 175, 175);
}

.center {
  text-align: center;
}
