body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  min-height:100%
}
ul {
  margin:0; padding: 0;
}
a {
  -webkit-transition: color .4s ease;
  text-decoration: underline;
  color: rgb(175, 175, 175);
}

header#main a {
  text-decoration: none;
}

.center {
  text-align: center;
}

header#main a:hover {
  color: tomato;
}

header#main {
  padding:30px;
}

header#main .wrapper {
  margin: auto;
  width: 250px;
}

header#main h1 {
  text-align: center;
  font-weight: 100;
  margin: auto;
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #222;
  -webkit-user-select: none;
  user-select: none;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

header#main h1 span {
  font-weight: 300;
}

span.mirror {
  -webkit-transition: all .2s ease;
  border-color: #400080;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  display: inline-block;
  -webkit-transform: scale(-1, 1);
}

header#main h1:hover span.mirror{
  -webkit-transform: scale(1, 1);
}

header#main ul  {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

header#main ul li {
  display: flex;
}

header#main a {
  font-size: 15px;
}



footer#main {
  display: flex;
  background: #2d2d2d;
  height: 200px;
  width: 100%;
  justify-content: center;
  color:white;
  align-items: center;
}
footer#main p {
  text-align: center;
}
footer#main #react-icon {
  position: relative;
  width:18px;
  bottom: 2px;
  display: inline-block;
  padding-right: 3px;
}