.card {
  position: relative;
  top:100px;
  margin: auto;
  width: 70%;
  height: auto;
  height: calc(70% * 1.75);
  background: #ffffff;
  padding:40px;
  color: #333;
}

.card #typer, card #logo {
  text-align: center;
}

.card #logo {
  font-size: calc(70% * 5.75);
  font-weight: 100;
  margin: 0;
  font-size: 55px;
  font-size: 5vw;
}

.card #typer {
  font-size: 30px;
  font-size: 3.5vw;
  font-weight: 100;
  letter-spacing: 1px;
  padding-right: 6px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}


.typed-cursor {
    opacity: 1;
    font-weight: bold;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
