.modal {
  position: relative;
  z-index: 100;

}

.modal.active .background {
  position: fixed;
  top:0;  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}

.modal.active .content {
  border-radius: 8px;
  position: fixed;
  top:20px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 80%;
  background: white;
  overflow: hidden;
  border-bottom: 12px solid #72C59F;
}

section.image-gallery {
  padding-top: 12px;

}

section.image-gallery img {
  max-height: 500px;
  box-shadow: 0 60px 30px 6px #bfbfbf;
}
.modal header {
  padding: 0 15px;
  box-sizing: border-box;
}

h1.modalTitle {
  line-height: 0.9;
  margin-bottom: 13px;
  font-size:23px;
  font-weight: bold;
  margin-right: 4%;
}

p.modalSubtitle {
  color:#7F7F7F;
  font-weight: bold;
  margin:0;
}

p.description {
  margin-bottom: 0;
  padding-bottom: 13px;
}

.link {
  margin-top:0;
    padding: 0 15px;
}

.close {
  position: absolute;
  right:15.41px; top:15.41px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #222;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  padding-top: 1px;
}

.companyName {
  color:#72C59F;
  font-size: 18px;
}

@media (max-height: 670px) {
  section.image-gallery img {
    max-height: 380px;
  }
}

@media (max-height: 570px) {
  section.image-gallery img {
    max-height:287px;
  }
}
