@import "vendor/normalize.css";
@import "vendor/foundation.css";
@import "vendor/imageGallery.css";
@import "vendor/font-awesome.min.css";
@import "modal.css";
@import "logo.css";
@import "layout.css";
@import "home.css";
@import "contact.css";
@import "about.css";
